<app-topo></app-topo>
<div *ngIf="jogoEmAndamento == true else fimDeJogo">
    <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>

<ng-template #fimDeJogo>
    <div  *ngIf="tipoEncerramento == 'perdeu'; else fimDeJogoVitoria" class="container">
        <div class="row">
            <div class="col">
                <h3>Perdeu</h3>
                <button class="btn btn-primary" (click)="reiniciarJogo()">Tentar novamente</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #fimDeJogoVitoria>
        <div  *ngIf="tipoEncerramento == 'ganhou'" class="container">
            <div class="row">
                <div class="col">
                    <h3>Ganhou</h3>
                </div>
            </div>
        </div>
    </ng-template>